In [10]:
import pandas as pd
urls =[]
with open('allowed_country_urls.txt') as f:
    for i, url in enumerate(f, 1):
        urls.append(url)
        
urls
urls = pd.DataFrame(urls,columns=['url'])
urls.to_csv(r'allowed-country-urls.csv', index = False)
urls

                                                  url
0   https://www.eurojobs.com/browse-by-country/Aus...
1   https://www.eurojobs.com/browse-by-country/Bel...
2   https://www.eurojobs.com/browse-by-country/Bul...
3   https://www.eurojobs.com/browse-by-country/Cro...
4   https://www.eurojobs.com/browse-by-country/Cyp...
5   https://www.eurojobs.com/browse-by-country/Cze...
6   https://www.eurojobs.com/browse-by-country/Den...
7   https://www.eurojobs.com/browse-by-country/Est...
8   https://www.eurojobs.com/browse-by-country/Eur...
9   https://www.eurojobs.com/browse-by-country/Fin...
10  https://www.eurojobs.com/browse-by-country/Fra...
11  https://www.eurojobs.com/browse-by-country/Ger...
12  https://www.eurojobs.com/browse-by-country/Gre...
13  https://www.eurojobs.com/browse-by-country/Hun...
14  https://www.eurojobs.com/browse-by-country/Ire...
15  https://www.eurojobs.com/browse-by-country/Ita...
16  https://www.eurojobs.com/browse-by-country/Lat...
17  https://www.eurojobs.com/browse-by-country/Lit...
18  https://www.eurojobs.com/browse-by-country/Lux...
19  https://www.eurojobs.com/browse-by-country/Mal...
20  https://www.eurojobs.com/browse-by-country/Net...
21  https://www.eurojobs.com/browse-by-country/Nor...
22  https://www.eurojobs.com/browse-by-country/Pol...
23  https://www.eurojobs.com/browse-by-country/Por...
24  https://www.eurojobs.com/browse-by-country/Rom...
25  https://www.eurojobs.com/browse-by-country/Slo...
26  https://www.eurojobs.com/browse-by-country/Slo...
27  https://www.eurojobs.com/browse-by-country/Spa...
28  https://www.eurojobs.com/browse-by-country/Swe...
29  https://www.eurojobs.com/browse-by-country/Swi...
30  https://www.eurojobs.com/browse-by-country/Uni...

In [7]:
enumerate(f, 1)

ValueError: I/O operation on closed file.

In [20]:
import sqlite3
con = sqlite3.connect('scrapedata.db',timeout=10)
con
cur = con.cursor()
#cur.execute("DELETE from myscrapedata")

In [8]:
cur.execute("DROP TABLE IF EXISTS myscrapedata")

In [21]:
res = cur.execute("SELECT * FROM myscrapedata")
len(res)

TypeError: object of type 'sqlite3.Cursor' has no len()

In [29]:
for row in cur.execute("SELECT count(*) as cnt FROM myscrapedata"):
    print(row)

(333,)

In [27]:
for row in cur.execute("SELECT * FROM myscrapedata"):
    print(row)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [15]:
cur = con.cursor()

# Create table

cur.execute('''create table if not exists stocks
               (date text, trans text, symbol text, qty real, price real)''')

# Insert a row of data
cur.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")
cur.execute("INSERT INTO stocks VALUES ('2006-01-06','BUY','aa',100,35.14)")
cur.execute("INSERT INTO stocks VALUES ('2006-01-07','BUY','bb',100,35.14)")

# Save (commit) the changes
con.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
con.close()

In [16]:
import sqlite3
con = sqlite3.connect('example.db')
cur = con.cursor()

In [17]:
for row in cur.execute('SELECT * FROM stocks ORDER BY price'):
    print(row)

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-06', 'BUY', 'aa', 100.0, 35.14)
('2006-01-07', 'BUY', 'bb', 100.0, 35.14)

In [18]:
import sqlite3 as sqlite